 body {
     font-family: montserrat;
     margin: 0;
     padding: 0;
     /* margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; */
     /* background-color: #f5f5f5; */
 }

 .navbar {
     background-color: transparent;
     overflow: hidden;
     position: fixed;
     top: 0;
     padding: 0 100px;
     width: 88%;
     z-index: 9999;
     display: flex;
     justify-content: space-between;
 }

 .navbar a {
     float: left;
     display: block;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     color: #ffffff;
 }

 .navbar a:hover {
     background-color: #fff;
     color: #202020;
 }

 .navbar .logo {
     float: left;
     margin-right: 20px;

     /* font-size: 24px;
	font-weight: bold;
	line-height: 1.8;
    color: #ffffff; */

 }

 .header-text {
     background: rgba(0, 0, 0, 0.3);
     text-align: center;
     display: grid;
     place-items: auto;
     /* padding-top: 50px; */
     height: 100vh;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 9998;
     color: #ffffff;
 }

 .text-content h1 {
     font-size: 80px;
     text-transform: uppercase;
 }

 .text-content p {
     width: 75%;
     margin: auto;
     line-height: 1.9;
 }

 .text-content a {
     background: #ffffff;
     display: inline-block;
     text-decoration: none;
     padding: 10px 30px;
     color: #202020;
     margin: 30px;
     border-radius: 50px;
     transition: all 0.5s ease;
 }

 .text-content a:hover {
     background: transparent;
     border: 1px solid #fff;
     color: #fff;
 }

 .slides {
     list-style: none;
     margin-top: 0;
 }

 .slides,
 .slides:after {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0px;
     left: 0px;
     z-index: 0;
 }

 .slides li span {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0px;
     left: 0px;
     color: transparent;
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: none;
     opacity: 0;
     z-index: 0;
     animation: animate 25s linear infinite 0s;
 }

 .slides li:nth-child(1) span {
     background-image: url(img/a7.jpg);
 }

 .slides li:nth-child(2) span {
     background-image: url(img/a8.webp);
     animation-delay: 5s;
 }

 .slides li:nth-child(3) span {
     background-image: url(img/a9.jpg);
     animation-delay: 10s;
 }

 .slides li:nth-child(4) span {
     background-image: url(img/a10.jpeg);
     animation-delay: 15s;
 }

 .slides li:nth-child(5) span {
     background-image: url(img/a11.avif);
     animation-delay: 20s;
 }

 .slides li:nth-child(6) span {
     background-image: url(img/a12.webp);
     animation-delay: 25s;
 }

 @keyframes animate {
     0% {
         opacity: 0;
     }

     8% {
         opacity: 1;
         transform: scale(1.05);
     }

     17% {
         opacity: 1;
         transform: scale(1.1);
     }

     25% {
         opacity: 0;
         transform: scale(1.1);
     }

     100% {
         opacity: 0;
     }
 }

 @media (max-width: 800px) {
     .navbar .logo {
         float: none;
         margin-right: 0;
         font-size: 35px;
     }

     .navbar {
         flex-direction: column;
         width: 100%;
         padding: 0;
         align-items: center;
     }

     .navbar a {
         font-size: 18px;
         padding: 5px 25px;
     }

     nav {
         margin-top: 20px;
     }

     .text-content h1 {
         font-size: 45px;
     }
 }

 @media (max-width: 500px) {
     .navbar a {
         font-size: 15px;
         padding: 8px 12px;
     }

     .text-content h3 {
         margin-bottom: 10px;
     }

     .text-content h1 {
         font-size: 28px;
     }

     .text-content p {
         width: 100%;
         margin: 15px auto;
         line-height: 1.5;
         font-size: 12px;
     }

     .text-content a {
         padding: 5px 15px;
         margin-top: 0px;
         font-size: 14px;
     }
 }

 /* 
        .button {
            padding: 15px 25px;
            margin: 10px;
            width: 200px;
            height: 60px;
            border-radius: 30px;
            border: none;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            color: black;
            background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .button:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
        }

        .button:active {
            transform: translateY(0);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        } */

 #myimage {
     height: 32px;
     width: 32px;
     margin-left: 2%;
 }

 /* .wrapper {
          height: 15vh;
    text-align: center;
justify-content: center;
  align-items: center;
} */
 /* .center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
} */